@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.admin-container {
  width: 95%;
  margin: 0 auto;
}
main{
  min-height: 100vh;
  padding: 50px 0;
}